<section class="google-reviews-section">

    <div class="container">

        <div class="section-heading">

            <span>GOOGLE REVIEWS</span>

            <h2>
                What Our Students Say
            </h2>

            <p>
                See what our students have to say about
                their learning experience at RLT Edzaro.
            </p>

        </div>

        <div data-src='https://cdn.trustindex.io/loader.js?2251afa825f25268dd0686e569c'>
        </div>

    </div>

</section>

